footer {
    font-family: Helvetica;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4A2D32;
    color: white;
    padding-top: .7em;
    padding-bottom: .7em;
    text-align: center;
    font-size: 0.7em;
}
body {
    font-family: Helvetica;
    position: relative;
    min-height: 100vh;
}